*
!/**/
!*.*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.sdf
*.opensdf
*.suo
*.ilk
*.idb
*.pdb
*.exp
*.lib
*.ipch/
*.obj
*.tlog/
*.log
*.cache
*.dll
*.exe
*.db
*.user
*.opendb

*.vsidx
*.json
*.ipch
*.exe.recipe
*.tlog
*.xml
*.iml
*.iobj
*.ipdb
*.VC.db-wal
*.VC.db-shm
books/other/
books/
# Залишаємо тільки файли з розширенням .cpp
!*.cpp
!*.vscode
