*
!/**/
!*.*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.sdf
*.opensdf
*.suo
*.ilk
*.idb
*.pdb
*.exp
*.lib
*.ipch/
*.obj
*.tlog/
*.log
*.cache
*.dll
*.exe
*.db
*.user
*.opendb

*.vsidx
*.json
*.ipch
*.exe.recipe
*.tlog
*.xml
*.iml
*.iobj
*.ipdb
*.VC.db-wal
*.VC.db-shm
books/other/
books/

# C#
# Build directories
bin/
obj/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# NuGet
*.nupkg
packages/

# Logs and temp files
*.log
*.tmp
*.cache

# Other IDE / tool files
*.dbmdl
*.resharper
*.ide.*

# Залишаємо тільки файли з розширенням .cpp
!*.cpp
!*.vscode
