<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mongo Stats</title>
    <style>
        table { border-collapse: collapse; width: 50%; margin-bottom: 20px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
    </style>
</head>
<body>
    <h1>Internet Mailing</h1>

    <h2>Authors</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.get('_id')}">id</td>
                <td th:text="${author.get('name')}">Name</td>
                <td th:text="${author.get('bio')}">Bio</td>
            </tr>
        </tbody>
    </table>

    <p>Found article by id: <span th:text="${articleTitle}">Name</span></p>

    <div>
        <h2>Found Articles by category:</h2>
        <ul>
            <tr th:each="article: ${articlesByCat}">
                <li>
                    <strong th:text="${article.get('title')}">Article Title:</strong>
                </li>
            </tr>
        </ul>
        <p th:if="${articlesByCat.isEmpty()}">Not Found.</p>
    </div>

    <h2>Author statistics</h2>
    <table>
        <tr><th>Name</th><th>Written Articles</th></tr>
        <tr th:each="stat: ${authorStats}">
            <td th:text="${stat.get('_id')}"></td>
            <td th:text="${stat.get('totalArticles')}"></td>
        </tr>
    </table>

    <div>
        <h2>Authors Article Count</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stat: ${authorsArticleCount}">
                    <td th:text="${stat.get('name')}"></td>
                    <td th:text="${stat.get('articleCount')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Популярність тем</h2>
    <table>
        <tr><th>Тема</th><th>Кількість підписників</th></tr>
        <tr th:each="item : ${popularity}">
            <td th:text="${item.get('_id')}"></td>
            <td th:text="${item.get('subscriberCount')}"></td>
        </tr>
    </table>

    <h2>Повідомлень відправлено сьогодні</h2>
    <p th:text="${todaySent != null ? todaySent.get('messages_sent_today') : 0}"></p>
</body>
</html>